[submodule "anwesenheitsliste"]
	path = anwesenheitsliste
	url = https://git.ifsr.de/struktur/anwesenheitsliste.git
[submodule "zugangsberechtigung"]
	path = zugangsberechtigung
	url = git@ifsr.de:struktur/zugangsberechtigung.git
[submodule "protokoll-geheim"]
	path = protokoll-geheim
	url = git@ifsr.de:struktur/protokoll-geheim.git

